body {
	background-image: url("../esadural/whitemarble.jpg");
}

.container-fluid {
	width: 40%;
	margin: 0 auto;
	border: 1px solid black;
	background-color: rgb(190, 23, 51);
	font-family: "Bauhaus 93", sans-serf;
	color: white;
    padding: 10px;
}

label {
	display: inline-block;
	float: left;
	width: 125px;
	text-align: right;
	margin-right: 20px;
}

<<<<<<< HEAD
input, textarea {
	display: block;
=======
input {
    display: block;
>>>>>>> b6d80fba5ed07158c4039434e506e035eb0a5017
    color: black;
}

#submit {
	color: black;
}

select {
    color: black;
    padding: 5px;
    margin-bottom: 20px;
    width: 100px;
}

.message, .textbox-container {
    margin-bottom: 20px;
}