* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}

body {
    color: #eee;
    background: #223;
    font: 14px 'Montserrat Medium', sans-serif;
}

header {
    background: #334;
    height: 240px;
    padding: 50px;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    max-width: 800px;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul li a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
}