* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}

body {
    color: #eee;
    font: 14px 'Montserrat', sans-serif;
    font-weight: 500;
    background: url('images/whitemarble.jpg') top center;
}

h1 {
    font-family: 'Bauhaus 93', sans-serif;
    font-size: 2em;
    color: #b13;
    margin-bottom: 40px;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

header {
    background: #b13;
    border-bottom: 4px solid #901;
}

#page-logo {
    background: url('images/page_logo.png') no-repeat center;
    background-size: contain;
    height: 100px;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font: 1.2em 'Bauhaus 93', sans-serif;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    flex: 0 1 auto;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
}

nav #login {
    flex: 1 1 auto;
    text-align: right;
}

nav #greeting {
    font: 14px 'Montserrat Medium', sans-serif;
    padding-right: 10px;
    margin-right: 10px;
}

#toolbar {
    color: #b13;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#toolbar ul {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#toolbar li {
    flex: 0 1 auto;
    padding: 10px 20px;
}

#toolbar li:last-child {
    flex: 1 1 auto;
    text-align: right;
}

#toolbar li:first-child {
    font-weight: 700;
    color: #333;
}

#toolbar li a {
    text-decoration: none;
}

#page-content-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
}

#page-content {
    background: white;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background: #eee;
}

table thead {
    text-align: left;
    font-weight: bold;
    background: #b13;
    color: #fff;
}

table th, table td {
    padding: 10px;
    vertical-align: baseline;
}

tbody tr:nth-child(2n) {
    background: #f6f6f6;
}

.link-add {
    display: block;
    margin: 20px 0;
    color: #b13;
    text-decoration: none;
}

.link-add:hover {
    text-decoration: underline;
}

.image-thumb {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-thumb img {
    cursor: pointer;
}

.image-thumb .label {
    padding: 10px;
}

.description {
    margin-bottom: 40px;
}

.gallery-filter {
    margin-bottom: 40px;
}

.gallery-filter a {
    display: inline-block;
    background: #b13;
    border-bottom: 2px solid #901;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    min-width: 100px;
    margin: 5px 0;
}

.lightbox-blackout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms;
}

.lightbox-blackout.show {
    visibility: visible;
    opacity: 1;
}

.lightbox-blackout img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 640px) {
    body {
        font-size: 12px;
    }
}