div, .logo {
    border: 1px solid black;
}

* {
    color: white;
}

.menu {
    background-color: rgb(190, 23, 51);
    height: 145px;
}

.one, .two, .three {
    margin-top: 5.5%;
    font-family: "Bauhaus 93", sans-serif;
}

.three h3 {
    float: right;
}

.four {;
}

.logo {
    width: 700px;
    height: inherit;
    margin: 0 auto;
    position: absolute;
    right: 6px;
}
