.entire, .galleryitem, .mainimage {
  background-color: #323233;
}

.item {
  background-image: url("whitemarble.jpg");
}

div {
  border: 1px solid black;
}

div {
  border: 1px solid black;
}

.container-fluid {
  width: 80%;
  background-color: white;
}

.first, .second {
  width: inherit;
  margin: auto;
}

.first {
  margin-bottom: 6%;
}

.galleryitem {
  height: 200px;
}


.secondlayer {
  height: 170px;
  margin-top: 5%;
  background-color: #a9a9aa;
}

#mainimagesecondlayer {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (min-width: 1080px) {
  #two {
    margin-left: 19.8%;
    margin-right: 0;
  }
  
  .galleryitem {
    width: 500px;
    height: 209px;
  }
}