body {
	background-image: url("whitemarble.jpg");
}

.container-fluid {
	width: 40%;
	margin: 0 auto;
	border: 1px solid black;
	background-color: rgb(190, 23, 51);
	font-family: "Bauhaus 93", sans-serf;
	color: white;
}

label {
	display: inline-block;
	float: left;
	width: 125px;
	text-align: right;
	margin-right: 20px;
}

input {
	display: block;
	color: black;
}

#submit {
	color: black;
}

